@model SistemaIndexador.Application.ViewModels.DadosIndexacaoViewModel



<meta charset="utf-8">


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

@using (Html.BeginForm("upload", "Home", Model, FormMethod.Post, new { @class = "form-horizontal", @id = "formAula" }))
{
    <div class="modal-dialog " style="width:auto">
        <div class="modal-content">
            <div class="modal-body" style="padding:10px 10px 45% 10px">
                <form>

                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <label>Matricula</label>
                            @Html.TextBoxFor(model => model.matricula, new { @class = "form-control", maxlength = "255", })

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <label for="inputCity">CPF</label>
                            @Html.TextBoxFor(model => model.cpf, new { @class = "form-control", maxlength = "255", })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">Referencia</label>
                            @Html.TextBoxFor(model => model.ref_a, new { @class = "form-control", maxlength = "255", })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">/</label>
                            @Html.TextBoxFor(model => model.ref_b, new { @class = "form-control", maxlength = "255", })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <label for="inputCity">Validade</label>
                            @Html.TextBoxFor(model => model.validade, new { @class = "form-control", maxlength = "255", })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <label for="inputCity">Tipo Documento</label>
                            @Html.DropDownListFor(m => m.TipoDocSelected, new SelectList(Model.TipoDoc), "Selecione Tipo de Documento", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <label for="inputCity">Tipo Documento</label>
                            <input type="file" name="files[]" multiple="multiple" class="btn btn-secondary" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <label for="inputCity">Visualizar Arquivos Indexados</label>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Abrir</button>
                        </div>
                    </div>




                </form>
            </div>
        </div>
    </div>



    <div class="container" >
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content" style="margin:40px 0 0 0">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Arquivos Indexados</h4>
                    </div>
                    <div class="modal-body">

                        <form method="post" id="uploadForm" enctype="multipart/form-data">
                            <table class="table">
                                <tr>
                                    <td colspan="3">
                                        <div id="uploaddiv">
                                            <table id="uploadTable" class="table">
                                                <thead>
                                                </thead>
                                                <tbody id="tbodyid">
                                                    <tr id="tr1">
                                                        <td id="filetd1"></td>
                                                        <td id="filesizetd1"></td>
                                                    </tr>
                                                    <tr id="tr2">
                                                        <td id="filetd2"></td>
                                                        <td id="filesizetd2"></td>
                                                    </tr>
                                                    <tr id="tr3">
                                                        <td id="filetd3"></td>
                                                        <td id="filesizetd3"></td>
                                                    </tr>
                                                    <tr id="tr4">
                                                        <td id="filetd4"></td>
                                                        <td id="filesizetd4"></td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td id="filecount"></td>
                                                        <td id="totalsize"></td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                    </td>
                                </tr>
                            </table>


                        </form>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <button class="btn btn-primary" type="submit" id="tbnEnviarArquivos">Indexar</button>
    <button class="btn" id="cancelButton">Cancel</button>


}

<script type="text/javascript">

    var select = $('#uploadTable');

    function getFileSizeandName(input) {
        select = $('#uploadTable');
        for (var i = 0; i < input.files.length; i++) {
            var filesizeInBytes = input.files[i].size;
            var filesizeInMB = (filesizeInBytes / (1024 * 1024)).toFixed(2);
            var filename = input.files[i].name;


            if (i <= 4) {
                $('#filetd' + i + '').text(filename);
                $('#filesizetd' + i + '').text(filesizeInMB);
            }
            else if (i > 4) {
                select.append($('<tr id=tr' + i + '><td id=filetd' + i + '>' + filename + '</td><td id=filesizetd' + i + '>' + filesizeInMB + '</td></tr>'));
            }
        }
    }

    $(document).ready(function () {
        $('#tbnEnviarArquivos').on('click', function () {

            var data = new FormData();
            var files = $('[type="file"]').get(0).files;

            for (var i = 0; i < files.length; i++) {
                data.append("file", files[i]);
            }

            $.ajax({
                type: "POST",
                url: "\\Home\\upload",
                type: 'POST',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    //show content
                    alert('Success!')
                }
            });
        })
    });



</script>
